@model BAL.Model.CateAndProductViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}
<div id="common-home" class="container-fluid">
    <div class="row">
        <div id="content" class="col-xs-12">
            <div class="row">
                <div class="slidepad">
                    <div class="homeslider-container s-panel">
                        <div class="loader wrloader"></div>
                        <div id="slideshow0" class="slideshow slider-for">
                            <div class="">
                                <div class="slideimg">
                                    <a href="indexedcd.html?route=product/product&amp;path=57&amp;product_id=49"><img src="~/client/image/cache/catalog/slider/slider-1-1920x650.jpg" alt="iPhone 6" class="img-responsive center-block" /></a>
                                </div>
                                <div class="slidertext">
                                    <div class="slideff">
                                        <div class="slidesmall">
                                            <h3>Fresh 100% Organic Food</h3>
                                            <h1>Discover new amazing grocery deals</h1>
                                            <p>The most healthy organic food is safe for health. </p>

                                            <a href="indexedcd.html?route=product/product&amp;path=57&amp;product_id=49" class="btn btn-primary">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="slideimg">
                                    <img src="~/client/image/cache/catalog/slider/slider-2-1920x650.jpg" alt="MacBookAir" class="img-responsive center-block" />
                                </div>
                                <div class="slidertext">
                                    <div class="slideff">
                                        <div class="slidesmall">
                                            <h3>our flavoro store</h3>
                                            <h1>Organic fresh fruits for your health</h1>
                                            <p>Reach For Healthier You With Organic Fresh Foods Our Health Know Your Farmer Know Your Food.</p>

                                            <a href="#" class="btn btn-primary">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('.slider-for').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        dots: true,
                        autoplay: false,
                        autoplaySpeed: 5000,
                        fade: true
                    });

                });
            </script>
            <div class="category_bag container">
                <div class="homecategory">
                    <h1 class="heading text-left"><span>Our category</span><p>Do not miss the current offers until the end of March.</p></h1>
                    <div class="row rless">
                        <div class="cat-img">
                            @foreach(var category in Model.Categories)
                            {
                            <div class="block-cat-wr col-xs-12 cless">
                                <div class="categorybr">
                                    <a href="@Url.Action("Filter", "Product", new {id = category.ID})">
                                        <img src="~/client/image/cache/catalog/category/5-120x120.png" class="img-responsive center-block" alt="">

                                        <div class="catcontent">
                                            <h2><span class="categorybor">@category.Name</span></h2>
                                            <h6 class="catepro"> </h6>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            }
                           
                        </div>
                    </div>
                </div>
            </div>

           



           


            <div class="pro-img">
                <div class="tab-content container protabcont">
                    <div class="tab-head">
                        <h1 class="heading  text-left"><span>top product</span><p>Do not miss the current offers until the end of March.</p></h1>
                    </div>
                    <div class="tab-pane active" id="featurep">

                        <div class="row rless">
                            <div class="feature">
                                @foreach ( var product in Model.Products)
                                {
                                    if(product.isDeleted==false)
                                {
                                    <div class="multi-row">
                                    <div class="product-layout col-xs-12 cless">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                        <a href="@Url.ActionLink("Details","Product",new { id = product.ID })"><img src="@Url.Content(product.imgPath)" alt="Organic Cold Pressed Sunflower Cooking Oil" title="Organic Cold Pressed Sunflower Cooking Oil" class="img-responsive center-block" /></a>
                                                <!-- Images Start -->
                                                        <a href="@Url.ActionLink("Details","Product",new { id = product.ID })"><img src="@Url.Content(product.imgPath)" class="img-responsive second-img" alt="hover image" /></a>



                                                    
                                                <!-- End -->





                                            </div>

                                            <div class="caption text-left">
                                                <h4 class="protitle"><a href="indexbb02.html?route=product/product&amp;product_id=42">@product.Name</a></h4>
                                                <div class="webi-main">
                                                    <input type="hidden" name="product_id" value="42" />
                                                    <div class="form-group required  checkbox_input">
                                                        <label class="control-label">weight</label>
                                                        <div id="input-option223">
                                                            <div class="checkbox">
                                                                <label class="size-option">
                                                                    <input class="webi-option-click" type="checkbox" name="option[223][]" value="8" data-rawPrice=12 />
                                                                    <span>1kg</span>
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label class="size-option">
                                                                    <input class="webi-option-click" type="checkbox" name="option[223][]" value="9" data-rawPrice=24 />
                                                                    <span>2kg</span>
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label class="size-option">
                                                                    <input class="webi-option-click" type="checkbox" name="option[223][]" value="10" data-rawPrice=36 />
                                                                    <span>3kg</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="rating comments_note wb-list-product-reviews">
                                                    <span class="or-rate">
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                                        </span>

                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                                        </span>

                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                                        </span>

                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                                        </span>

                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
                                                        </span>

                                                    </span>

                                                </div>
                                                <p class="price">
                                                    <span data-update='price-42' class="price">@product.Price</span>

                                                </p>



                                                <div class="homeqtinner">
                                                    <div class="homeqt">


                                                        <button type="button" onclick="qty.minus('42')" class="form-control pull-left btn-number btnminus dis-42" disabled="disabled">
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>
                                                        <input name="quantity" class="addhqty" type="text" value="1" size="2" min="1" max="999" id="input-quantity-42" class="form-control input-number pull-left" />
                                                        <button type="button" onclick="qty.plus('42')" class="form-control pull-left btn-number btnplus">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </div>
                                                    <input type="hidden" name="product_id" value="42" />
                                                    <button type="button" class="cartb add-to-cart webi-cart"><svg><use xlink:href="#pcart"></use></svg></button>
                                                    <input type="hidden" name="hid-qty-msg" value="Quantity At Least One or More">
                                                </div>
                                                        <div class="button-group">
                                                            <div class="absbtn">
                                                                <form method="post" asp-action="AddToWishList" asp-controller="Home" id="addToWishListForm">
                                                                    <input type="hidden" name="id" value="@product.ID" />
                                                                    <button type="submit" class="btn-wishlist" title="Add to Wish List" onclick="submitForm(event)">
                                                                        <svg><use xlink:href="#heart" /></svg>
                                                                    </button>
                                                                </form>
                                                                <script>
                                                                    function submitForm(event) {
                                                                        event.preventDefault();
                                                                        var form = event.target.closest('form');
                                                                        var formData = new FormData(form);
                                                                        fetch(form.action, {
                                                                            method: 'POST',
                                                                            body: formData
                                                                        })
                                                                            .then(function (response) {
                                                                                if (response.ok) {
                                                                                    // Show success message as a popup
                                                                                    Swal.fire({
                                                                                        icon: 'success',
                                                                                        title: 'Item added to Wish List!',
                                                                                        showConfirmButton: false,
                                                                                        timer: 1500
                                                                                    }).then(function () {
                                                                                        // Reload the page after the popup is closed
                                                                                        location.reload();
                                                                                    });
                                                                                }
                                                                            });
                                                                    }
                                                                </script>








                                                            </div>
                                                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
                                                            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">


                                                        </div>










                                            </div>

                                        </div>
                                    </div>

                                </div>
                                }
                            
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>






          

            <script type="text/javascript">
                <!--
                $("#newsletter_63f78f1b621c6").webiNewsletter().work('Email is not valid!');
                --></script>
        </div>
    </div>
</div>
